@import "../../../../Style/_variables.scss";

.main-transfer-container
{
    background-color: #2D325A;
    border-radius: 10px;
    width: 500px;
    position: absolute;
    right: 35%;
    top: 55%;
    transform: translate(-35%, -55%);
    z-index: 10;
    @media (max-width: 1024px) {
        right: 20%;
        top: 40%;
    }
    @media (max-width: 768px) {
        right: 0;
    }
    @media (max-width: 550px) {
        right: -172px;
        top: 65%;
        width: 520px;
    }
    @media (max-width: 420px) {
        right: -132px;
        width: 400px;
    }
    @media (max-width: 411px) {
        right: -135px;
        width: 400px;
    }
    @media (max-width: 380px) {
        right: -115px;
        top: 50%;
        width: 355px;
    }
    @media (max-width: 360px) {
        right: -110px;
        width: 340px;
    }
    @media (max-width: 320px) {
        right: -105px;
        width: 310px;
    }
    @media (max-width: 280px) {
        right: -95px;
        top: 50%;
        width: 277px;
    }
    h2{
        font-size: 1.70rem;
        padding: 20px 20px 10px;
    }
    .form
    {
        padding: 20px;
        label{
            display: block;
            font-size: 12px;
            margin-bottom: 5px;
        }
        input{
            width: 100%;
            font-size: 18px;
            padding: 10px;
            border-radius: 5px;
            border: none;
            outline: none;
            color: #A6A7B3;
            background-color: $secondColor;
        }
    }
    .buttons
    {
        text-align: right;
        padding: 20px;
        background-color: $secondColor;
        button{
            margin: 0 5px;
            width: 30%;
            color: #FFFFFF;
        }
        .btn-1{
            background-color: #2E325C;
        }
        .btn-2{
            background-color: #1EC0C2;
        }
    }
}